.container{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: 80% 20%;
    margin: 0 5% 0 5%;
}

.img-container{
    width: 300px;
    height: 250px;
}
.img{
    width: 300px;
    height: 250px;
}

.name{
    margin: 0 0 0 3%;
    font-style: italic;
}

.names-container{
    margin-top: 5%;
}