.container{
    width: 33%;
    height: 33%;
    display: grid;
    grid-template-rows: 80% 20%;
    margin: 1% 1% 0 1%;
}

.img-container{
    background-color: black;
    overflow: hidden;
}

.name{
    margin: 0 0 0 3%;
    font-style: italic;
}